<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Tailor Shop</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
  <img th:src="@{/images/logoHodot.png}" alt="Logo" class="logo">
  <h2>Forget Password</h2>
  <form th:action="@{/forget-password}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <button type="submit">Reset Password</button>
  </form>
  <p><a th:href="@{/login}">Back to Login</a></p>
</div>
</body>
</html>