<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tailor Shop</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-container">
    <img th:src="@{/images/logoHodot.png}" alt="Logo" class="logo">
    <h2>Reset Password</h2>
    <div th:if="${error}" class="error">
        <p th:text="${error}"></p>
    </div>
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${param.token}">
        <label for="new-password">New Password:</label>
        <input type="password" id="new-password" name="newPassword" required>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirmPassword" required>
        <button type="submit">Reset Password</button>
    </form>
</div>
</body>
</html>